---
export const prerender = false;

import Layout from '@layouts/Layout.astro';
import ContactForm from '@components/ContactForm.astro';
import PrimaryCard from '@components/cards/PrimaryCard.astro';
import PageHero from '@components/PageHero.astro';

let formSubmitted: boolean = false;
let resultMessage;

if (Astro.request.method === 'POST') {
    formSubmitted = true;
    try {
        const formData = await Astro.request.formData();
        const firstName = formData.get('firstname');
        const lastName = formData.get('lastname');
        const email = formData.get('email');
        const subject = formData.get('subject');
        const message = formData.get('message');

        console.log(`Sent by: ${email}`);
        console.log(`subject: ${subject}`);
        console.log(`${firstName} ${lastName}`);
        console.log(message);

        resultMessage = 'form successfully submitted';
    } catch (error) {
        if (error instanceof Error) {
            console.error(error.message);
            resultMessage = 'oops, something went wrong';
        }
    }
}
---

<Layout title="Contact">
    <PageHero
        imageUrl="https://picsum.photos/1920/1080?random=2"
        title="Contact Us"
    >
        <p>
            We have worked on thousands of projects from small remodels to full
            scale designs. We'd love to hear more about your project and set up
            a consultation.
        </p>
    </PageHero>

    <section class="form-section section wrapper">
        {
            formSubmitted ? (
                <PrimaryCard>
                    <p>{resultMessage}</p>
                </PrimaryCard>
            ) : (
                <ContactForm />
            )
        }
    </section>

    <section class="contact-info-section section wrapper">
        <div class="contact-info">
            <h4>Marshfield</h4>
            <p>Headquarters</p>
            <p>1020 Plain Street - Suite 320</p>
            <p>Marshfield, MA 02050</p>
            <p>Office: (781)-837-3140</p>
        </div>
        <div class="contact-info">
            <h4>Milton</h4>
            <p>7 Pleasant Street - SUite 302</p>
            <p>Milton, MA 02186</p>
            <p>Office: (617)-898-0702</p>
        </div>
        <div class="contact-info">
            <h4>Yarmouthport</h4>
            <p>477 Route 6A -Suite 8</p>
            <p>Yarmouthport, MA 02675</p>
            <p>Office: (508)-289-1438</p>
        </div>
    </section>
</Layout>

<style>
    .form-section {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contact-info-section {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
        gap: 2rem;
    }

    @media (min-width: 768px) {
        .contact-info-section {
            flex-flow: row wrap;
            justify-content: center;
            align-items: flex-start;
        }
    }

    .contact-info {
        padding: 2rem;
    }
</style>
